.frame {
  padding-top: 20px;
  max-width: 600px;
  min-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 1.5em;
}

#screen {
  height: 150px;
  border: 1px solid black;
  flex-grow: 1;
  font-size: 1.6em;
}

#panel {
  border: 1px solid black;
  height: 450px;
  display: flex;
  flex-direction: row;
}

#numbers {
  display: flex;
  flex-grow: 3;
  border: 1px solid black;
  height: 100%;
  flex-wrap: wrap;
}

#operations {
  display: flex;
  flex-grow: 1;
  border: 1px solid black;
  height: 100%;
  flex-wrap: wrap;
}

.numbers, .operators, .equal_sign, .clear_entry, .clear_all, .neg_sign {
  border: 1px solid grey;
  margin: auto;
  width: 30%;
}

.numbers, .operations, p {
  text-align: center;
}

#result {
  float: right;
}

#screen p {
  margin: 10px 20px;
}
