body {
  background-color: rgb(200, 200, 200);
  width: 90%;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.thumbnails {
  flex: 1;
  width: 260px;
  height: 260px;
  flex-grow: 1;
}

img {
  width: 260px;
  max-height: 260px;
  padding: 12px;
  background-color: white;
  z-index: 1;
}

figcaption {
  color: white;
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
}
